<header class="site-header" id="siteHeader">
  <div class="main-menu">
    <div class="container main-menu-content">

      <a href="index.html#inicio" class="logo-area header-logo">
        <span class="header-logo-img">
          <img src="img/unasp-junior-logo.jpg" alt="Logo UNASP Empresa Júnior">
        </span>

        <span class="header-logo-text">
          <strong>UNASP</strong>
          <span>Empresa <em>Júnior</em></span>
        </span>
      </a>

      <nav class="nav" id="nav">
        <a href="index.html#sobre">Sobre</a>
        <a href="servicos.html">Serviços</a>
        <a href="index.html#funciona">Processo</a>
        <a href="localizacao.html">Localização</a>
        <a href="index.html#planos">Planos</a>
        <a href="index.html#contato" class="nav-cta">Fale conosco</a>
      </nav>

      <button class="menu-btn" id="menu-btn" type="button" aria-label="Abrir menu">
        <i class="fa-solid fa-bars"></i>
      </button>

    </div>
  </div>
</header>